 
    <nav class="navbar  navbar-expand-md fixed-top">
        <div class=" container row">
          <div class="col-md-8">
            <div class="row">
            <a href="/"  class="col-lg-3 col-10" id="brand"><img src="/img/logo.png" style="width:90px;height:50px"></a>
             <button class="navbar-toggler col-2 " id="hamburgerbutton" type="button" data-toggle="collapse" data-target="#navbarlinks">
              <span >
                <div class="dash">

                </div>
                <div class="dash">

                </div>
                <div class="dash">

                </div>
              </span>
            </button>
            <div class="form-inline   input-group col-lg-9 col-12">
                <input type="search" class="form-control form-control-xs" id="input-field" placeholder="search here...">
                <span class="intpu-group-btn "><button type="submit" class="btn btn-success"><img src="/img/search.png" alt="" id="searchbutton"></button></span>
            </div>
            
            </div>
            </div>
            </div>
           

            
            <div  class="collapse navbar-collapse" id="navbarlinks">
                <ul class="navbar-nav ml-auto mr-5">
                    <li class="nav-item ">
                        <a href="/login" class="nav-link ">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link ">Signup</a>
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link ">About&nbsp;Developer</a>
                    </li>
                    
                </ul>
              
           
            </div>
            
      
    </nav>