
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-muted">
                    <h4>Password reset link will be sent to your email</h4>
                    <p>If your mail exists in our data base.</p>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="emailfp">Email:</label>
                        <input type="email" class="form-control mb-3 input-lg" id="emailfp" placeholder="Enter your email here..">
                        <input type="submit" value="Create new password" class="btn btn-success btn-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>